<html>
<body background="https://ichef.bbci.co.uk/news/624/cpsprodpb/42C6/production/_102149071_cyan-blue-976x549.jpg">
<form action="#" method="post">
{%csrf_token%}
<center><img src="https://cdn.dribbble.com/users/1110841/screenshots/5292739/mercedes-dribbble-jc.gif" alt="car" style="width:320px;height:310px;"></center><br>
<center><p>WELCOME TO THE FUTURE.</p></center>
<center><p>Website under construction</p></center>
<center>LoginId:<input type="text" name="loginid"></center><br>
<center>Password:<input type="password" name="password"></center>
<center><input type="submit" name="login"></center>
</form>
</body>
</html>
